*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #202124;
  font-family: 'Poppins', Arial, sans-serif;
  height: auto;
}
a{
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}
/* header start */
.header-top{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: left;
  gap: 5px;
  align-items: center;
  padding:5px;
}
.header-top .link{
  color: white;
  padding: 10px 5px;
  font-size: 12px;
  margin-top: 5px;
}
.link:hover{
  text-decoration: underline;
}
.header-top .header-icons {
  color:white;
  font-size: 25px;
  padding: 10px;
  width: 40px;
  height: 40px; 
  border-radius: 50px; 
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.header-top .header-icons:hover {
  background: #3a3b3c83; 
}
/* header end */
/* logo strat */
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-name{
  font-size: 85px;
  font-weight: 450;
  color: white;
  width: fit-content;
}
/* logo end */
/* search bar start */
.search-bar .bar-content i{
  color:#bfbfbf;
}
.search-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  padding: 20px 0;
  border-radius: 0px;
}
.bar-content{
  display: flex;
  width: 45%;
  background-color: #4d5156;
  border-radius: 26px;
  align-items: center;
  padding: 13px 15px;
}
.bar-content form {
  flex:1 1 auto;
}
.bar-content:hover{
  background-color: #5f6368;
}
.bar-content i {
  gap: 5px;
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
  color: #bfbfbf;
  padding: 0 5px;
}
.bar-content .search-icon {
  font-size: 15px;
  cursor: default;
}
.search-input{
  background: transparent;
  border: none;
  outline: none;
  min-width:0; 
  width: 100%;
  padding-left: 15px;
  font-size: 16px;
  color: white;
  text-align: right;
}
.search-input::placeholder {
    color: #999;
    opacity: 1;
}
/* search bar end */
/* google search start */
.google-search{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.google-search button{
  background-color: #303134d2;
  color: #e8e8e8;
  padding: 10px 15px;
  border: transparent 0.5px solid;
  border-radius: 8px ;
}
.google-search button:hover{
  border-color: #5f6368;
}
/* google search end */
/* language strat */
.lang{
  color: #bfbfbf;
  font-size: small;
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.lang a{
  color: #99c3ff;
}
.lang a:hover{
  text-decoration: underline;
}
/* language end */
/* theme start */
.theme {
  display: flex; 
  justify-content: center;
  align-items:center;     
}
.theme button {
  font-size: 15px;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #303134d2;
  color: #e8e8e8;
  padding: 5px 10px;
  border: transparent 0.5px solid;
  border-radius: 8px ;  
  cursor: pointer;   
  display: flex;
  gap: 5px;
}
.theme button:hover {
  border-color: #b1b6bb;
}
.theme button i{
  font-size: 20px;
}
/* theme end */