*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: white;
  font-family: 'Poppins', Arial, sans-serif;
  height: auto;
}
a{
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}
/* header start */
.header-top{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: right;
  gap: 5px;
  align-items: center;
  padding:5px;
}
.header-top .link{
  color: #4b4e52;
  padding: 10px 5px;
  font-size: 12px;
  margin-top: 5px;
}
.link:hover{
  text-decoration: underline;
}
.header-top .header-icons{
  color:#5f6368;
  font-size: 25px;
  padding: 10px;
  width: 40px;
  height: 40px; 
  border-radius: 50px; 
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.header-top .header-icons:hover {
  background: #b6b7b883;
}
/* header end */
/* logo start */
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-name {
  font-size: 85px;
  font-weight: 450;
  width: fit-content;
}
.G {color: #4285f4}
.O1 {color: #ea4335;}
.O2 {color:#fbbc05;}
.L {color:#34a853;}
.E {color: #ea4335;}
/* logo end */
/* search bar start */
.search-bar .bar-content i{
  color:#474747;
}
.search-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  padding: 20px 0;
  border-radius: 0px;
}
.bar-content{
  display: flex;
  width: 45%;
  gap: 5px;
  background-color: #ffffff;
  border: 1px solid #dadce0;;
  box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
  border-radius: 26px;
  align-items: center;
  padding: 13px 15px;
}
.bar-content form {
  flex:1 1 auto;
}
.bar-content:hover{
 box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.293);
}
.bar-content i {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
  color: #bfbfbf;
  padding: 0 5px;
}
.bar-content .search-icon {
  font-size: 15px;
  cursor: default;
}
.search-input{
  background: transparent;
  border: none;
  outline: none;
  min-width:0; 
  width: 100%;
  padding-left: 15px;
  font-size: 16px;
  color: black;
}
/* search bar end */
/* google saerch start */
.google-search{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.google-search button{
  background-color: #f8f9fa;
  color: #4b4e52;
  padding: 10px 15px;
  border: transparent 0.5px solid;
  border-radius: 8px ;
}
.google-search button:hover{
  border-color: #dadce0;
  box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.092);
}
/* google saerch end */
/* language start */
.lang{
  color:#4b4e52;
  font-size: small;
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.lang a{
  color: #1a0dab;
}
.lang a:hover{
  text-decoration: underline;
}
/* language end */
/* theme start */
.theme {
  display: flex; 
  justify-content: center;
  align-items:center;     
}
.theme button {
  font-size: 15px;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #f8f9fa;
  color: #4b4e52;
  padding: 5px 10px;
  border: transparent 0.5px solid;
  border-radius: 8px ;  
  cursor: pointer;  
  display: flex;
  gap: 5px; 
}
.theme button:hover {
  border-color: #dadce0;
  box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.092);
}
.theme button i{
  font-size: 20px;
}
/* theme start */